<ng-template #successModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Se agreg&oacute; correctamente la foto:</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Nombre: <b>{{productName}}</b></p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="reloadCurrentRoute()">Entendido</button>
  </div>
</ng-template>

<section class="mx-4">
  <div class="section-title">
    <h2 class="inter bold">Agregar Imagen</h2>
    <p>Aqu&iacute; puedes subir las nuevas imagenes de los productos</p>
  </div>
  <section>
    <div class="row mx-1">
      <div class="form-group col-xl-4 col-md-6 col-sm-12">
        <label for="code">C&oacute;digo</label>
        <select class="form-select" id="code" (change)="listProductsName($event)">
          <option selected>Selecciona el codigo</option>
          <option [value]="iphone.id" *ngFor="let iphone of codes">
            {{ iphone.name }}
          </option>
        </select>
      </div>
      <div class="form-group col-xl-4 col-md-6 col-sm-12">
        <label for="code">Modelo</label>
        <select class="form-select" id="code" [disabled]="productType === ''"
          (change)="verifyIfAlreadyHasPhoto($event)">
          <option selected>Selecciona el modelo</option>
          <option [value]="productName.name" *ngFor="let productName of productsName">
            {{ productName.name }}
          </option>
        </select>
        <small style="color: green" *ngIf="productHasImage">Este Producto tiene foto, si subes una foto, estar&aacute;s
          remplazando la existente</small>
        <small style="color: firebrick" *ngIf="!productHasImage && productName !== ''">Este Producto NO tiene
          foto</small>
      </div>
      <div class="form-group col-xl-4 col-md-12 col-sm-12 my-3">
        <label for="file">Choose File %: {{uploadPercent}}</label>
        <input type="file" id="file" accept=".jpg" class="form-control"
          [disabled]="productName === '' || productType === ''" (change)="uploadFile($event.target)">
        <small *ngIf="productHasImage">Verifica que la imagen se vea correctamente</small>
      </div>
      <div class="form-group my-3 col-12 text-center">
        <button type="button" style="width: 60%" [disabled]="newFile === undefined" (click)="confirmUploadImage()"
          class="btn btn-qc-primary">
          Subir imagen
        </button>
      </div>
    </div>
  </section>
  <div class="text-center">
    <img [src]="imagePreview" alt="">
  </div>
</section>