<ng-template #successModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Se agregaron correctamente la foto:</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <p>Nombre: <b>{{model}}</b></p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="reloadCurrentRoute()">Entendido</button>
  </div>
</ng-template>
<section>
</section>
<section>
  <section>
    <div class="section-title text-center">
      <h3 class="top-c-sep">Agregar producto</h3>
      <p>Aqu&iacute; puedes agregar los nuevos productos</p>
    </div>
  </section>
  <section>
    <label for="sell_type">Tipo de producto</label>
    <select class="form-select"
                  [(ngModel)]="productType"
                  id="sell_type">
              <option selected>Selecciona el tipo de producto:</option>
              <option value="IPH11">IPhone</option>
              <option value="AIRP">Airpods</option>
              <option value="AIRP">Airpods Pro</option>
              <option value="CABLE">Cable</option>
              <option value="CAMARA">Camara</option>
              <option value="MICA">Mica</option>
          </select>
    <div class="row mx-1">
      <div class="form-group col-12">
        <label for="model">Modelo</label>
        <input type="text"
               class="form-control"
               id="model"
               appNoWhiteSpaces
               appLowercase
               [(ngModel)]="model">
      </div>
    </div>
    <div class="row mx-1">
        <div class="form-group col-12">
          <label for="file">Choose File %: {{uploadPercent}}</label>
          <input type="file"
                 id="file"
                 accept=".jpg" 
                 class="form-control"
                 [disabled]="model === '' || productType === ''"
                 (change)="uploadFile($event.target)">
        </div>
      </div>
  </section>
</section>