<section class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card text-white card-has-bg click-col"
          style="background-image:url('https://firebasestorage.googleapis.com/v0/b/quimicalcase-47f4e.appspot.com/o/iphone%2Fxayah.jpg?alt=media&token=1e879094-39c9-49c1-b1d7-be7e2137ff83');">
          <img class="card-img d-none" src="https://source.unsplash.com/600x900/?tech,street"
            alt="Goverment Lorem Ipsum Sit Amet Consectetur dipisi?">
          <div class="card-img-overlay d-flex flex-column">
            <div class="card-body">
              <h4 class="mt-0">
                <a class="text-white" herf="#">IPhone</a>
              </h4>
            </div>
            <div class="card-footer">
              <div class="media">
                <div class="media-body">
                  <h6 class="my-0 text-white d-block">Oz COruhlu</h6>
                  <small>Director of UI/UX</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
<section class="ga2">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h4 class="text-center"><strong>STYLE 1</strong></h4>
        <hr>
        <div class="profile-card-2"><img src="https://firebasestorage.googleapis.com/v0/b/quimicalcase-47f4e.appspot.com/o/iphone%2Fxayah.jpg?alt=media&token=1e879094-39c9-49c1-b1d7-be7e2137ff83"
            class="img img-responsive">
          <div class="profile-name">JOHN DOE</div>
          <div class="profile-username">@johndoesurname</div>
          <div class="profile-icons"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i
                class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a></div>
        </div>
      </div>

      <div class="col-md-4">
        <h4 class="text-center"><strong>STYLE 2</strong></h4>
        <hr>
        <div class="profile-card-6">
          <img src="https://firebasestorage.googleapis.com/v0/b/quimicalcase-47f4e.appspot.com/o/iphone%2Fxayah.jpg?alt=media&token=1e879094-39c9-49c1-b1d7-be7e2137ff83"
            class="img img-responsive">
          <div class="profile-name">JOHN
            <br>DOE
          </div>
        </div>
      </div>
    </div>
  </div>
</section>