<section class="d-flex justify-content-center">
  <div class="card text-white card-has-bg click-col"
    [ngStyle]="{'background-image': product.url}">
    <div class="card-img-overlay d-flex flex-column">
      <div class="card-body">
        <h4 class="mt-0">
          <span class="text-white" herf="#">{{product.name}}</span>
        </h4>
      </div>
      <div class="card-footer">
        <div class="media">
          <div class="media-body">
            <h6 class="my-0 text-white d-block">{{product.title}}</h6>
            <small>{{product.subtitle}}</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- maybe later -->
<!-- <section class="ga2">
  <div class="container">
    <div class="row">
        <div class="profile-card-2">
          <img src="https://firebasestorage.googleapis.com/v0/b/quimicalcase-47f4e.appspot.com/o/iphone%2Farcoiris.jpg?alt=media&token=bd06c21e-dc1f-4e66-bf8e-261064ea8985"
            class="img img-responsive">
          <div class="profile-name">IPhone 11</div>
          <div class="profile-username">@quimicalcase</div>
          <div class="profile-icons"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i
                class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
        </div>
    </div>
  </div>
</section> -->