<section class="body-pd" id="body-pd">
    <div class="l-navbar" id="nav-bar">
        <nav class="nav">
            <div>
                <span class="nav_logo">
                    <i class='bx bx-menu header_toggle' id="header-toggle" (click)="changeMenuStatus()"></i>
                </span>
                <div class="nav_list">
                    <a class="nav_link" routerLinkActive="active" routerLink="/home/nueva-venta" *ngIf="showAdminOptions">
                        <i class='bx bx-cart nav_icon'></i>
                        <span class="nav_name">Registrar venta</span>
                    </a>
                    <a class="nav_link" routerLinkActive="active" routerLink="/home/pendiente-envio">
                        <i class='bx bx-send nav_icon' ></i>
                        <span class="nav_name">Pendientes de env&iacute;o</span>
                    </a>
                    <a class="nav_link" routerLinkActive="active" routerLink="/home/ventas" *ngIf="showAdminOptions">
                        <i class='bx bxs-shopping-bags nav_icon' ></i>
                        <span class="nav_name">Listado de ventas</span>
                    </a>
                    <a class="nav_link" routerLinkActive="active" routerLink="/home/stock">
                        <i class='bx bx-barcode nav_icon'></i>
                        <span class="nav_name">Stock</span>
                    </a>
                    <a class="nav_link" routerLinkActive="active" routerLink="/home/agregar-producto" *ngIf="showAdminOptions">
                        <i class='bx bx-comment-add nav_icon'></i> 
                        <span class="nav_name">Agregar productos</span>
                    </a>
                    <a class="nav_link" routerLinkActive="active" routerLink="/home/finanzas" *ngIf="showAdminOptions">
                        <i class='bx bx-credit-card-alt nav_icon'></i> 
                        <span class="nav_name">Finanzas</span>
                    </a>
                    <a class="nav_link" routerLinkActive="active" routerLink="/home/subir-imagen" *ngIf="showAdminOptions">
                        <i class='bx bx-image-add nav_icon'></i> 
                        <span class="nav_name">Subir imagen</span>
                    </a>
                    <a class="nav_link" href="https://quimicalcase.com" target="_blank">
                        <i class='bx bx-store nav_icon'></i> 
                        <span class="nav_name">Tienda</span>
                    </a>
                </div>
            </div>
            <a class="nav_link" (click)="closeSession()">
                <i class='bx bx-log-out nav_icon'></i>
                <span class="nav_name">Cerrar Sesi&oacute;n</span>
            </a>
        </nav>
    </div>
    <!--Container Main start-->
    <div class="bg-light" style="padding-left: calc(45px + 1rem); margin-top: -20px; padding-top: 50px;">
        <router-outlet></router-outlet>
    </div>
    <!--Container Main end-->
</section>