<section class="GA">
    <div class="section-title text-center">
      <h3 class="top-c-sep">Finanzas</h3>
      <p>Aqu&iacute; puedes agregar gastos y ver el estado de las finanzas de la empresa pe</p>
    </div>
    <form class="form row px-5" [formGroup]="expenseForm">
            <div class="form-group col-sm-5 col-lg-4 col-md-4">
              <label for="detail">Detalle del gasto</label>
              <input type="text"
                     class="form-control"
                     id="detail"
                     formControlName="expense_detail">
                  </div>
            <div class="form-group col-sm-5 col-lg-4 col-md-4">          
              <label for="mont">Monto del gasto</label>
              <input type="number"
                     class="form-control"
                     id="mont"
                     formControlName="expense_amount">
            </div>
            <div class="form-group col-sm-2 col-lg-1 col-md-1 pt-3">
                <button type="button" class="btn btn-dark btn-send" (click)="addExpense()" [disabled]="!expenseForm.valid">Enviar</button>
            </div>
    </form>
    <div class="form row px-5 pt-2 text-center" style="border-top: 4px solid black">
      <label for="month">Selecciona el mes que deseas ver el reporte</label>
      <select aria-label="Mes" id="month" name="month" class="form-select" #monthSelect (change)="changeMonth(monthSelect.value)">
        <option *ngFor="let month of months; let i = index" [value]="i+1" [hidden]="actualMonth<i+1" [selected]="actualMonth === i+1">{{month}}</option> 
      </select>
    </div>
    <div class="row text-center pt-5 summary">
      <div class="col">
        <p>Resumen:</p>
        <p style="color: blue">Cantidad de ventas: {{ profit.cantidad_ventas }}</p>
        <p style="color: green">Ingreso Bruto: {{ profit.monto }}</p>
        <p style="color: red"><b>Total gastos: {{ totalExpenses }}</b></p>
        <p style="color: blue">Total a reinvertir: {{ profit.monto - (totalExpenses) }}</p>
  
      </div>
      <div class="col">
        <p>Hoja de gastos:</p>
        <p style="color: red"><b>Sueldo:</b> S/. {{salary}}</p>
        <p style="color: red"><b>Publicidad:</b> S/. {{publicity}}</p>
        <p style="color: red"><b>Emanuel:</b> S/. {{emanuel}}</p>
        <p *ngFor="let expense of expenses; let i = index" style="color: red"><b>{{expense.fecha}} {{expense.detalle}}:</b> {{ expense.monto}}</p>
      </div>
    </div>
    <div class="row text-center mt-5">
      <span>
        <b>Rappi:</b>
        <p>&Uacute;ltimo día de pago: 10.</p>
        <p>fecha de corte: 30. </p>
        <p>Si compras antes o el 30 de {{months[actualMonth -1]}}, lo pagas el 10 de {{months[actualMonth]}}.</p>
        <p>Si compras despues o el 1 de {{months[actualMonth]}}, lo pagas el 10 de {{months[actualMonth +1]}}.</p>
      </span>
      <span>
        <b>Ripley:</b>
        <p>&Uacute;ltimo día de pago: 15.</p>
        <p>fecha de corte: 6. </p>
        <p>Si compras antes o el 6 de {{months[actualMonth -1]}} o antes, lo pagas el 1 de {{months[actualMonth]}} .</p>
        <p>Si compras despues o el 7 de {{months[actualMonth -1]}} o después, lo pagas el 1 de {{months[actualMonth +1]}}.</p>
      </span>
      <span>
        <b>Amex:</b>
        <p>&Uacute;ltimo día de pago: 21.</p>
        <p>fecha de corte: 27. </p>
        <p>TEA: 69.78%</p>
        <p>Si compras antes o el 26 de {{months[actualMonth -1]}}, lo pagas el 21 de {{months[actualMonth]}}.</p>
        <p>Si compras despues o el 27 de {{months[actualMonth -1]}}, lo pagas el 21 de {{months[actualMonth +1]}}.</p>
      </span>
      <span>
        <b>Signature:</b>
        <p>&Uacute;ltimo día de pago: 21.</p>
        <p>fecha de corte: 10. </p>
        <p>TEA: 21%</p>
        <p>Si compras antes o el 10 de {{months[actualMonth -1]}}, lo pagas el 21 de {{months[actualMonth]}}.</p>
        <p>Si compras despues o el 11 de {{months[actualMonth -1]}}, lo pagas el 21 de {{months[actualMonth +1]}}.</p>
      </span>
    </div>
  </section>