<section class="mx-4">
	<div class="section-title">
		<h2 class="inter bold">Stock</h2>
		<p>Aqu&iacute; puedes administrar el stock</p>
	</div>

	<div class="row">
		<div class="col-lg-10">
			<div class="career-search mb-60">
				<form class="career-form mb-60">
					<div class="row">
						<div class="col-md-6 col-lg-6 my-3">
							<div class="select-container">
								<select class="custom-select" (change)="searchByCode($event.target)">
									<option selected>Seleccionar el codigo para ver</option>
									<option [value]="code" *ngFor="let code of IPhoneProducts">{{ code }}</option>
								</select>
							</div>
						</div>
						<div class="col-md-6 col-lg-3 my-3">
							<div class="input-group position-relative">
								<input type="text" class="form-control" placeholder="Escribe aquí para buscar" id="keywords">
							</div>
						</div>
					</div>
				</form>
				<p class="mb-30 ff-montserrat">Total de productos mostrados: <b>{{ productsOfSelectedCode?.length }}</b></p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<section class="d-flex flex-wrap" style="justify-content: space-around">
				<app-product-card class="m-3" *ngFor="let product of productsOfSelectedCode" [product]="product" (removeProduct)="removeProduct($event)"></app-product-card>
			</section>
		</div>
	</div>
</section>