<div class="filter-result">
  <div class="job-box">
    <div class="job-left my-4 flex-wrap">
      <div class="job-content">
        <h5 class="text-md-left inter bold">
          {{
            order.client
          }}
        </h5>
        <ul
          class="flex-wrap text-capitalize"
          style="flex-direction: column; padding-left: 10px"
        >
          <li class="mr-md-4" style="margin-top: 20px">
            <p *ngFor="let producto of order.products; let i = index">
              {{ producto.selectedQuantity }} <b>{{ producto.name }} </b> de
              <b>{{ producto.code }}</b>
            </p>
          </li>
          <li class="mr-md-4">
            <span style="color: blue">
              Total: <b>S/.</b> {{ order.total }}</span
            >
          </li>
        </ul>
      </div>
    </div>
    <div class="job-right my-4 flex-shrink-0 text-center">
      <img
        height="50"
        *ngIf="order.sale_channel"
        alt="canal de venta"
        class="mb-3"
        [src]="getSellChannelImageUrl(order.sale_channel)"
      />
      <img
        width="50"
        *ngIf="order.payment_type"
        alt="forma de pago"
        class="mb-3"
        [src]="order.payment_type | paymentImage"
      />
      <button
        type="button"
        class="btn d-block w-100 d-sm-inline-block btn-danger my-1"
        (click)="emitButton1(order)"
      >
      Cancelar pedido
      </button>
      <button
        type="button"
        class="btn d-block w-100 d-sm-inline-block btn-secondary my-1"
        (click)="emitButton2(order)"
      >
      Editar pedido
      </button>
    </div>
  </div>
</div>
