<div class="filter-result">
    <p *ngIf="showTotal">
        <b style="color: green">Ingreso bruto: {{totalSummary}}</b><br>
        <b style="color: blue">Sueldo: {{ salary }}</b><br>
        <b style="color: red">Reinversion: {{ reinvesment }}</b><br>
        <b style="color: red">Publicidad: {{ advertisement }}</b><br>
    </p>
    <p class="mb-30 ff-montserrat">{{summaryText}} <b>{{ orders.length }}</b></p>
    <div class="job-box d-md-flex align-items-center justify-content-between mb-30" *ngFor="let order of orders; let i = index">
        <div class="job-left my-4 d-md-flex align-items-center flex-wrap">
            <div class="job-content">
                <h5 class="text-md-left">{{ order.cliente }}</h5>
                <ul class="d-md-flex flex-wrap text-capitalize ff-open-sans" style="flex-direction: column">
                    <li class="mr-md-4">
                        <i class="zmdi zmdi-pin mr-2"></i> {{ order.tipo_entrega }}
                    </li>
                    <li class="mr-md-4" style="margin-top: 20px;">
                        <p *ngFor="let producto of order.productos; let i = index"> {{producto.cant}} <b>{{ producto.model }} </b> de <b>{{ producto.code }}</b></p>
                    </li>
                    <li class="mr-md-4" *ngIf="order.total">
                        <span style="color: blue"> Total: <b>S/.</b> {{ order.total}}</span>
                    </li>
                    <li class="mr-md-4" *ngIf="order.total">
                        <span> Costo Delivery: <b>S/.</b> {{ order.costo_delivery }}</span><br>
                        <span> Inversion: <b>S/.</b> {{ order.capital }}</span><br>
                        <span> Packaging y Publicidad: <b>S/.</b> {{ packagingPrice + advertisingPrice }}</span><br>
                        <span style="color: red"> Gastos: <b>S/.</b> {{ getExpensesSummary(order) }}</span> <br>
                    </li>
                    <li class="mr-md-4" *ngIf="order.total">
                        <span style="color: green"> Ganancia: <b>S/.</b> {{ getProfit(order) }}</span><br>
                    </li>
                </ul>
            </div>
        </div>
        <div class="job-right my-4 flex-shrink-0 text-center">
            <img height="50" *ngIf="order.canal_venta" alt="canal de venta" class="mb-3" [src]="order.canal_venta === 'Whatsapp' ? 'assets/icons/whatsapp.png': 'assets/icons/instagram.png'">
            <button type="button" *ngIf="showButton2" class="btn d-block w-100 d-sm-inline-block btn-secondary mb-2" (click)="emitOrder(order)">{{textButton2}}</button>
            <button type="button" *ngIf="showButton" class="btn d-block w-100 d-sm-inline-block btn-danger" (click)="emitOrder(order)">{{textButton}}</button>
        </div>
    </div>
</div>