<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">{{ modalContent.title }}</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <div [innerHtml]="modalContent.body"></div>
  </div>

  <div class="modal-footer">
    <button
      type="button"
      *ngIf="modalContent.button2Text"
      class="btn btn-light"
      (click)="modal.close('Close click')"
    >
      {{ modalContent.button2Text }}
    </button>
    <button
      type="button"
      class="btn btn-qc-primary"
      (click)="modalContent.button1Action()"
      (click)="modal.close()"
    >
      {{ modalContent.button1Text ? modalContent.button1Text : "Cerrar" }}
    </button>
  </div>
</ng-template>
