<!-- <ng-template #modal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{title}}</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="d('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Hubo un error, solo se actualizaron los siguientes modelos:</p>
    <div *ngFor="let producto of updatedModels">
      <span
        ><b>{{ producto.producto }}</b> del
        <b>{{ producto.iphoneCode }}</b></span
      >
    </div>
    <p>Enviar captura de esto al administrador de sistemas. chula</p>
    <p>{{ ERROR }}</p>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="c('Save click')"
    >
      Entendido
    </button>
  </div>
</ng-template> -->
