<ng-template #errorModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Error actualizando</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="d('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Hubo un error agregando el siguiente producto:</p>
    <p *ngFor="let model of modalErrorDetail; let i = index">
      <b>{{ model.name }}</b> del <b>{{ model.code }}</b>
    </p>
    <p>
      Enviar captura de esto al administrador de sistemas. Y NO SALIR DE ESTA
      PANTALLA
    </p>
    <p>{{ ERROR }}</p>
    <p>Antigua data: {{ dataBackUp | json }}</p>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="c('Save click')"
    >
      Entendido
    </button>
  </div>
</ng-template>
<ng-template #successModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      Se agregaron correctamente los siguientes productos:
    </h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="d('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p *ngFor="let model of modalDetail; let i = index">
      <b>{{ model.name }}</b> del <b>{{ model.code }}</b>
    </p>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="c('Save click')"
    >
      Entendido
    </button>
  </div>
</ng-template>

<section class="mx-4">
  <div>
    <h2 class="inter bold">Agregar producto</h2>
    <p>Aqu&iacute; puedes agregar los nuevos productos</p>
  </div>
  <form class="form" [formGroup]="IProduct">
    <div class="row mx-1">
      <div
        class="col-3 d-flex align-items-center"
        style="flex-basis: fit-content"
      >
        <label for="check">Mismo codigo:</label>
        <input
          class="check"
          id="check"
          type="checkbox"
          placeholder="Marcar"
          formControlName="sameCode"
          (click)="sameCode(!isSameCodeChecked)"
        />
      </div>
      <div class="col-3" style="flex-basis: fit-content">
        <label for="check2">Mismo modelo:</label>
        <input
          class="check"
          id="check2"
          type="checkbox"
          placeholder="Marcar"
          formControlName="sameModel"
          (click)="sameModel(!isSameModelChecked)"
        />
      </div>
      <div class="col-3" style="flex-basis: fit-content">
        <label for="check3">Misma cantidad:</label>
        <input
          class="check"
          id="check3"
          type="checkbox"
          placeholder="Marcar"
          formControlName="sameCant"
          (click)="sameCant(!isSameCantChecked)"
        />
      </div>
      <div class="col-3" style="flex-basis: fit-content">
        <label for="check4">Mismo precio de venta:</label>
        <input
          class="check"
          id="check4"
          type="checkbox"
          placeholder="Marcar"
          formControlName="samePrice"
          (click)="sameSellPrice(!isSamePriceChecked)"
        />
      </div>
      <div class="col-3" style="flex-basis: fit-content">
        <label for="check4">Mismo precio de compra:</label>
        <input
          class="check"
          id="check4"
          type="checkbox"
          placeholder="Marcar"
          formControlName="samePrice"
          (click)="sameBuyPrice(!isSameBuyPriceChecked)"
        />
      </div>
    </div>

    <div *ngFor="let product of array; let i = index">
      <div class="select-group" [formGroup]="getArrayFormGroup(i)">
        <div class="row mx-1">
          <div class="form-group col-12">
            <label for="code">C&oacute;digo</label>
            <select class="form-select" formControlName="code" id="code">
              <option selected>Selecciona el codigo</option>
              <option [value]="iphone.id" *ngFor="let iphone of codes">
                {{ iphone.name }}
              </option>
            </select>
          </div>
        </div>
        <div class="row mx-1">
          <div class="form-group col-12">
            <label for="model">Nombre</label>
            <input
              type="text"
              class="form-control"
              id="model"
              appLowercase
              formControlName="name"
            />
          </div>
        </div>
        <div class="row mx-1">
          <div class="form-group col-12">
            <label for="model">Descripci&oacute;n</label>
            <input
              type="text"
              class="form-control"
              id="model"
              appLowercase
              formControlName="description"
            />
          </div>
        </div>
        <div class="row mx-1">
          <div class="form-group col-4">
            <label for="cant">Cantidad</label>
            <input
              type="number"
              class="form-control"
              id="cant"
              formControlName="cant"
            />
          </div>
          <div class="form-group col-4">
            <label for="name">P. Venta</label>
            <input
              type="number"
              min="0.0"
              step="0.1"
              class="form-control"
              id="name"
              formControlName="sell_price"
            />
          </div>
          <div class="form-group col-4">
            <label for="name">P. Compra</label>
            <input
              type="number"
              min="0.0"
              step="0.1"
              class="form-control"
              id="name"
              formControlName="buy_price"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-between px-4">
      <button
        type="button"
        class="btn btn-dark col mx-1 my-2"
        (click)="addFormGroup()"
      >
        Agregar m&aacute;s
      </button>
      <button
        type="button"
        class="btn btn-danger col mx-1 my-2"
        (click)="deleteFormGroup()"
        [disabled]="array.length < 2"
      >
        Eliminar
      </button>
    </div>
    <div class="row px-5">
      <button
        type="button"
        class="btn btn-success col my-5"
        (click)="saveFormGroup()"
        [disabled]="!IProduct.valid"
      >
        Añadir productos
      </button>
    </div>
  </form>
</section>
