.form {
    padding: 0px 140px;
    .select-group {
        display: flex;
        justify-content: space-around;
        margin: 30px 0px;
    }
    & .form-group {
        margin: 5px 0px;
    }
    .check {
      margin-left: 5px;
    }
}
@media screen and (min-width: 782px) {
    .form {
        padding: 0px 10px;
    }
    .select-group {
        font-size: 10pt;
        .select-child{
            margin: 0px 10px;
            min-width: 135px;
        }
    }
}
@media screen and (max-width: 781px) {
    .form {
        padding: 0px 30px;
    }
    .select-group {
        font-size: 10pt;
        flex-direction: column;
        .select-child{
            margin: 0px 10px;
            min-width: 135px;
        }
    }
}
@media screen and (max-width: 763px) {
    .form {
        padding: 0px;
    }
    .select-group {
        font-size: 10pt;
        flex-direction: column;
        .select-child{
            margin: 0px 10px;
            min-width: 135px;
        }
    }
}
