<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Stock Actualizado</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>Por favor, toma nota o eliminar ahorita, debes eliminar del Drive los siguientes cases:
      </p>
      <div *ngFor="let model of modelsToEliminte;">
            <span><b>{{model.model}}</b> del <b>{{model.code}}</b></span>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="goPending()">Entendido</button>
    </div>
</ng-template>
<ng-template #errorModal let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Error actualizando</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>Hubo un error, solo se actualizaron los siguientes modelos:
      </p>
      <div *ngFor="let model of updatedModels;">
            <span><b>{{model.model}}</b> del <b>{{model.code}}</b></span>
      </div>
      <p>Enviar captura de esto al administrador de sistemas. chula</p>
      <p>{{ERROR}}</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Entendido</button>
    </div>
</ng-template>
<section>
    <form class="form" [formGroup]="saleForm">
        <div class="form-group">
            <label for="name">Nombre de cliente</label>
            <input type="text"
                   class="form-control"
                   id="name"
                   formControlName="cliente">
        </div>
        <div class="form-group">
            <label for="tipo_entrega">Tipo de entrega</label>
            <select class="form-select" formControlName="tipo_entrega"
                    id="tipo_entrega">
                <option selected>Selecciona el tipo de entrega</option>
                <option value="Olva">Olva</option>
                <option value="Contraentrega">Contraentrega</option>
            </select>
        </div>
        <div class="form-group">
            <label for="cantidad">Cantidad de prodcutos a vender</label>
            <select class="form-select" aria-label="Default select example" formControlName="cantidad"
                    id="cantidad"
                    (change)="addCaseSelect()">
                <option selected>Selecciona la cantidad</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select>
        </div>
        <div *ngIf="showSelects">
            <div class="select-group" *ngFor="let notUsed of cantToSell;let i = index">
                <div class="select-child">
                    <label for="iphone">C&oacute;digo de producto</label>
                    <select class="form-select"
                            [formControlName]="'iphone' + i"
                            id="iphone"
                            (change)="searchIphoneCases(i)">
                        <option selected>Selecciona el codigo</option>
                        <option [value]="iphone.id" *ngFor="let iphone of products">{{ iphone.name }}</option>
                    </select>
                </div>
                <div class="select-child">
                    <label for="case">Modelo</label>
                    <select class="form-select"
                            [formControlName]="'case' + i"
                            id="case">
                        <option selected>Selecciona el modelo</option>
                        <option [value]="case.producto" *ngFor="let case of cases[i]">{{ case.producto }}</option>
                    </select>
                </div>
            </div>
            <button type="button" class="btn btn-success" (click)="doSale()">Realizar Venta</button>
        </div>
    </form>
</section>
