@media screen and (min-width: 782px) {
    .select-group {
        font-size: 10pt;
    }
}
@media screen and (max-width: 781px) {
    .select-group {
        font-size: 10pt;
        flex-direction: column;
    }
}
