<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Stock Actualizado</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Por favor, toma nota o eliminar ahorita, debes eliminar del Drive los siguientes cases:
    </p>
    <div *ngFor="let producto of deleteFromDrive;">
      <span><b>{{producto.producto}}</b> del <b>{{producto.iphoneCode}}</b></span>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="goPending()">Entendido</button>
  </div>
</ng-template>
<ng-template #errorModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Error actualizando</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Hubo un error, solo se actualizaron los siguientes modelos:
    </p>
    <div *ngFor="let producto of updatedModels;">
      <span><b>{{producto.producto}}</b> del <b>{{producto.iphoneCode}}</b></span>
    </div>
    <p>Enviar captura de esto al administrador de sistemas. chula</p>
    <p>{{ERROR}}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Entendido</button>
  </div>
</ng-template>

<section class="ga">
  <div class="section-title text-center">
    <h3 class="top-c-sep">Nueva venta</h3>
    <p>Aqu&iacute; puedes agregar una venta</p>
  </div>
  <form class="form" [formGroup]="saleForm">
    <div class="form-group">
      <label for="client">Nombre de usuario en instagram</label>
      <select class="form-select" formControlName="client" id="client">
        <option selected>Selecciona el cliente</option>
        <option [value]="user" *ngFor="let user of notRegisteredSales">{{ user }}</option>
      </select>
    </div>
    <div class="form-group">
      <fieldset disabled>
        <label for="sell_type">Tipo de venta</label>
        <select class="form-select" formControlName="sell_type" id="sell_type">
          <option selected>Selecciona el tipo de venta</option>
          <option value="delivery">Delivery</option>
          <option value="presencial">Presencial</option>
        </select>
      </fieldset>
    </div>
    <div class="form-group">
      <label for="sale_channel">Canal de venta</label>
      <select class="form-select" formControlName="sale_channel" id="sale_channel">
        <option selected>Selecciona el canal de venta</option>
        <option value="Instagram">Instagram</option>
        <option value="Whatsapp">Whatsapp</option>
      </select>
    </div>
    <div class="form-group">
      <label for="payment_type">Medio de pago</label>
      <select class="form-select" formControlName="payment_type" id="payment_type">
        <option selected>Selecciona el medio de pago</option>
        <option value="yape">Yape</option>
        <option value="plin">Plin</option>
        <option value="bcp">BCP</option>
        <option value="bbva">Bbva</option>
        <option value="interbank">Interbank</option>
        <option value="scotia">Scotia</option>
        <option value="credito">Tarjeta de cr&eacute;dito</option>
      </select>
    </div>
    <div *ngFor="let product of array; let i = index">
      <div class="select-group" [formGroup]="getArrayFormGroup(i)">
        <div class="row mx-2">
          <div class="form-group col-6">
            <label for="iphoneCode">C&oacute;digo</label>
            <select class="form-select" formControlName="iphoneCode" id="iphoneCode" (change)="searchIphoneCases(i)">
              <option selected>Selecciona el codigo</option>
              <option [value]="iphone.id" *ngFor="let iphone of codes">{{ iphone.name }}</option>
            </select>
          </div>
          <div class="form-group col-6">
            <label for="case">Modelo</label>
            <select class="form-select" formControlName="producto" id="case">
              <option selected>Selecciona el modelo</option>
              <option [value]="case.producto" *ngFor="let case of cases[i]" [hidden]="case.producto === undefined">{{
                case.producto }}</option>
            </select>
          </div>
        </div>
        <div class="row mx-1">
          <div class="form-group col">
            <label for="cantidad">Cantidad</label>
            <input type="number" class="form-control" id="cantidad" formControlName="cant">
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-between px-5">
      <button type="button" class="btn btn-dark col mx-1 my-2" (click)="addFormGroup()">Agregar</button>
      <button type="button" class="btn btn-danger col mx-1 my-2" (click)="deleteFormGroup()"
        [disabled]="array.length < 2">Eliminar</button>
    </div>
    <div class="row">
      <div class="form-group col">
        <label for="total">Total S/.</label>
        <input type="number" min="0.0" step="0.1" class="form-control" id="total" formControlName="summary">
      </div>
    </div>
    <div class="row px-5">
      <button type="button" class="btn btn-success col my-5" (click)="doSale()" [disabled]="!saleForm.valid">Realizar
        venta</button>
    </div>
  </form>
</section>