<ng-template #successModal let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Cancelar pedido</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>¿Segura que quieres cancelar el pedido de <b>{{ selectedOrder.cliente }}</b>? </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-danger" (click)="confirmDelete()">S&iacute;</button>
      <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">No</button>
    </div>
</ng-template>

<div class="container">
            <div class="row">
                 <div class="col-lg-10 mx-auto mb-4 mt-5">
                    <div class="section-title text-center ">
                        <h3 class="top-c-sep">Ventas registradas</h3>
                        <p>Aqu&iacute; se puede ver el total de ventas registradas</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <div class="career-search mb-60" *ngIf="showSends">
                        <app-send-pending-item [orders]="reversedOrders"
                                               summaryText="Total de ventas:"
                                               [showButton]="true"
                                               textButton="Cancelar pedido"
                                               (selectedOrder)="completeOrder($event)"
                                               [showTotal]="true"></app-send-pending-item>
                    </div>
                </div>
            </div>

        </div>